@model List<FerryBookingClassLibrary.Models.Ferry>

<h2>Ferries</h2>

<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Max Cars</th>
        <th>Max Guests</th>
        <th>Price Per Guest</th>
        <th>Price Per Car</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var ferry in Model)
    {
    <tr>
        <td>@ferry.Name</td>
        <td>@ferry.MaxCars</td>
        <td>@ferry.MaxGuests</td>
        <td>@ferry.PricePerGuest</td>
        <td>@ferry.PricePerCar</td>
        <td>
            <a asp-action="Edit" asp-route-id="@ferry.Id">Edit</a> |
            <a asp-action="Details" asp-route-id="@ferry.Id">Details</a> |
            <a asp-action="Delete" asp-route-id="@ferry.Id">Delete</a>
        </td>
    </tr>
    }
    </tbody>
</table>
