@model IEnumerable<FerryBookingClassLibrary.Models.Ferry>

@{
ViewData["Title"] = "Ferry Index";
}

<h2>Ferries</h2>

<p>
    <a class="btn btn-primary" href="/Ferries/Create">Create New Ferry</a>
</p>

<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Max Cars</th>
        <th>Max Guests</th>
        <th>Price Per Car</th>
        <th>Price Per Guest</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
    <tr>
        <td>@item.Name</td>
        <td>@item.MaxCars</td>
        <td>@item.MaxGuests</td>
        <td>@item.PricePerCar</td>
        <td>@item.PricePerGuest</td>
        <td>
            <a class="btn btn-info" href="/Ferries/Details/@item.Id">Details</a> |
            <a class="btn btn-warning" href="/Ferries/Edit/@item.Id">Edit</a> |
            <a class="btn btn-danger" href="/Ferries/Delete/@item.Id">Delete</a>
        </td>
    </tr>
    }
    </tbody>
</table>
