@model IEnumerable<FerryBookingClassLibrary.Models.Ferry>

@{
    ViewData["Title"] = "Ferries";
}

<h1>Ferries</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New Ferry</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Length)</th>
        <th>@Html.DisplayNameFor(model => model.MaxGuests)</th>
        <th>Total Guests</th>
        <th>Total Cars</th>
        <th>Total Price</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Length)</td>
            <td>@Html.DisplayFor(modelItem => item.MaxGuests)</td>
            <td>@item.Guests.Count</td>
            <td>@item.Cars.Count</td>
            <td>@item.TotalPrice</td>
            <td>
                <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>