@model FerryBookingMVC.Models.CarViewModel

@{
ViewData["Title"] = "Edit Car";
}

<h2>Edit Car</h2>

<div class="card">
    <div class="card-header">
        <h4>Edit Car ID @Model.Id</h4>
    </div>
    <form asp-action="Edit" method="post">
        <input type="hidden" asp-for="Id" />
        <div class="card-body">
            <div class="form-group row">
                <label class="col-sm-3 control-label"><h5>Guests:</h5></label>
                <div class="col-sm-9">
                    <div class="card p-3" style="max-height: 300px; overflow-y: auto;">
                        @foreach (var guest in ViewBag.Guests)
                        {
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="SelectedGuestIds" value="@guest.Id" id="guest_@guest.Id" @(Model.SelectedGuestIds.Contains(guest.Id) ? "checked" : "") />
                            <label class="form-check-label" for="guest_@guest.Id">@guest.Name (@guest.Id)</label>
                        </div>
                        }
                    </div>
                    <span asp-validation-for="SelectedGuestIds" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="FerryId" class="col-sm-3 control-label"><h5>Ferry:</h5></label>
                <div class="col-sm-9">
                    <select asp-for="FerryId" class="form-control" asp-items="ViewBag.Ferries"></select>
                    <span asp-validation-for="FerryId" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="card-footer text-right">
            <button type="submit" class="btn btn-primary">Save</button>
            <a class="btn btn-secondary" href="/Cars">Cancel</a>
        </div>
    </form>
</div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
